*{
	margin: 0px;
	padding: 0px;
	font-family: "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
}
a {
	text-decoration: none;
}
input {
	border: none;
	outline: none;
}
ul {
	padding: 0px;
	margin: 0px;
	list-style: none;
}
/*万能浮动*/
.clearfox:after {
	content: "";
	display: block;
	clear: both;
	width: 0px;
	height: 0px;
}
/*搜索区域开始*/
#search {
	width: 1226px;
	height: 100px;
	margin: 0px auto;
	position: relative;
}
/*网站logo开始*/
#search .logo {
	width: 235px;
	height: 100px;
	line-height: 100px;
	float: left;
}
#search .logo a {
	display: block;
	width: 55px;
	background: url(../img/logo.jpg) no-repeat center center;
	text-indent: -999px;
}
/*网站logo结束*/
/*二级菜单开始*/
#search ul.menu {
	/*position: absolute;*/
	height: 100px;
	width: 670px;
	float: left;
	position: relative;
	/*top: 0;*/
	/*left: 235px;*/
}
#search ul.menu>li{
	float: left;
	height: 100px;
}
#search ul.menu>li>p {
	height: 100px;
	line-height: 100px;
	padding: 0px 10px;
}
#search ul.menu>li>p>a.title {
	font-size: 16px;
	color: #333333;
}
#search ul.menu>li>.submenu {
	position: absolute;
	left: -2122px;
	top: 100px;
	width: 5000px;
	height: 229px;
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	display: none;
	background: white;
	z-index: 99;
}
#search ul.menu>li>.submenu ul {
	width: 1226px;
	height: 229px;
	margin: 0px auto;
}
#search ul.menu>li>.submenu>ul>li {
	width: 204px;
	height: 229px;
	float: left;
	position: relative;
}
#search ul.menu>li>.submenu>ul>li>p.tag {
	border: 1px solid #FF6700;
	line-height: 20px;
	padding: 0px 20px;
	float: left;
	position: absolute;
	left: 50%;
	top: -1px;
	color: #FF6700;
	font-size: 12px;
	text-align: center;
	transform: translateX(-50%);
}
#search ul.menu>li>.submenu>ul>li>a.pic {
	display: block;
	width: 160px;
	height: 110px;
	margin: 0px auto;
	margin-top: 35px;
}
#search ul.menu>li>.submenu>ul>li>a.pic img {
	width: 100%;
	height: 100%;
}
#search ul.menu>li>.submenu>ul>li>a.title {
	display: block;
	margin-top: 16px;
	line-height: 20px;
	font-size: 12px;
	color: #333333;
	text-align: center;
}
#search ul.menu>li>.submenu>ul>li>p.price {
	color: #FF6700;
	line-height: 20px;
	margin-top: 1px;
	font-size: 12px;
	text-align: center;
}
#search ul.menu>li>.submenu>ul>li>p.text {
	color: #333333;
}

#search ul.menu>li>.submenu>ul>li>div {
	position: absolute;
	top: 35px;
	right: 0px;
	border-right: 1px solid #e0e0e0;
	height: 100px;
	
}
#search ul.menu>li:hover>p>a.title {
	color: #ff6700;
}
#search ul.menu>li:hover>.submenu {
	display: block;
}	
/*二级菜单结束*/
/*搜索框*/
#search .searchBar {
	width: 296px;
	height: 100px;
	float: right;
	position: relative;
}
#search .searchBar>div {
	position: absolute;
	left: 0px;
	top: 25px;
	background: white;
	border: 1px solid #E0E0E0;
	width: 294px;
	height: 48px;
}
#search .searchBar>div>input.keywords {
	width: 243px;
	border-right: 1px solid #e0e0e0;
	height: 48px;
	float: left;
}
#search .searchBar>div>a.tag {
	width: 50px;
	height: 48px;
	background: white;
	display: block;
	float: right;
	position: relative;
}
#search .searchBar>div>a.tag>.icongals {
	position: absolute;
	left: 50%;
	top: 50%;
	color: #616161;
	transform: translate(-50%,-50%);
	font-size: 22px;
}
#search .searchBar>div>ul.submenu {
	position: absolute;
	left: 0px;
	top: 48px;
	width: 243px;
	height: 300px;
	background: white;
	border: 1px solid red;
	display: none;
	z-index: 99;
}
#search .searchBar>div>ul.submenu>li{
	padding: 0px 15px;
	line-height: 27px;
}
#search .searchBar>div>ul.submenu>li>a.title {
	float: left;
	color: rgba(24,24,24,08);
	font-size: 12px;
}
#search .searchBar>div>ul.submenu>li>a.amount {
	float: right;
	color: #b0b0b0;
	font-size: 12px;
}
#search .searchBar>div:hover {
	border: 1px solid red;
}
#search .searchBar>div:hover>input.keywords {
	border-right: 1px solid red;
}
#search .searchBar>div:hover>ul.submenu {
	display: block;
}
#search .searchBar>div:hover>a.tag {
	background: #ff6700;
}
#search .searchBar>div:hover>a.tag>.icongals {
	color: white;
}
#search .searchBar>div>ul.submenu>li:hover {
	background: rgba(192,190,190,0.2);
}
/*搜索框*/
/*搜索区域结束*/
/*轮播区域开始*/
#banner {
	width: 1226px;
	height: 460px;
	margin: 0px auto;
	position: relative;
	margin-bottom: 14px;
}
/*左边菜单*/
#banner .leftmenu {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 235px;
	height: 460px;
	background: rgba(0,0,0,0.6);
	z-index: 10;
}
#banner .leftmenu>ul {
	padding-top: 20px;
}
#banner .leftmenu>ul>li {
	line-height: 40px;
}
#banner .leftmenu>ul>li>a.title {
	display: block;
	padding: 0px 22px;
	display: block;
	color: white;
}
#banner .leftmenu>ul>li>a.title>span.tag {
	padding-left: 6px;
	float: left;
	font-size: 14px;
}
#banner .leftmenu>ul>li>a.title>i.arrow-right {
	display: block;
	float: right;
	color: #b3b8b8;
	font-size: 18px;
	cursor: pointer;
}

#banner .leftmenu>ul>li:hover {
	background: #FF6700;
}
/*左边菜单*/
/*轮播图开始*/
#banner .banner-box {
	width: 1226px;
	height: 460px;
	position: relative;
}
#banner .banner-box>ul.picture>li>img {
	width: 100%;
	height: 100%;
}
#banner .banner-box>.arrow-left>i.icon-arrow {
	position: absolute;
	left: 245px;
	top: 215px;
}
/*轮播图结束*/
/*轮播区域结束*/

