*{
	margin: 0px;
	padding: 0px;
	font-family: "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
}
a {
	text-decoration: none;
}
input {
	border: none;
	outline: none;
}
ul {
	padding: 0px;
	margin: 0px;
	list-style: none;
}
/*万能浮动*/
.clearfox:after {
	content: "";
	display: block;
	clear: both;
	width: 0px;
	height: 0px;
}
/*网站顶部开始*/
#top {
	width: 100%;
	height: 40px;
	background: #333333;
}
#top .top-center {
	width: 1226px;
	height: 40px;
	margin: 0px auto;
}
#top .top-center>div.left {
	height: 40px;
	line-height: 40px;
	float: left;
}
#top .top-center>div.left>ul>li {
	line-height: 40px;
	float: left;
	padding-right: 7px;
}
/*左边区域开始*/
#top .top-center>div.left>ul>li>a.title {
	color: #b0b0b0;
	font-size: 12px;
	display: block;
	float: left;
	padding-right: 7px;
}
#top .top-center>div.left>ul>li>span.tag {
	color: #424242;
	font-size: 12px;
	display: block;
	float: left;
}
#top .top-center>div.left>ul>li:hover>a.title {
	color: white;
}
/*左边区域结束*/
/*右边区域开始*/
#top .top-center>div.right {
	float: right;
	line-height: 40px;
}
#top .top-center>div.right>ul {
	float: left;
}
#top .top-center>div.right>ul>li {
	line-height: 40px;
	float: left;
}
#top .top-center>div.right>ul>li>a.title {
	display: block;
	float: left;
	padding-right: 7px;
	font-size: 12px;
	color: #b0b0b0;
}
#top .top-center>div.right>ul>li>span.tag {
	color: #424242;
	font-size: 12px;
	display: block;
	float: left;
	padding-right: 7px;
}
#top .top-center>div.right>ul>li.news {
	float: left;
	line-height: 40px;
	padding: 0px 25px 0px 4px;
	
}
#top .top-center>div.right>ul>li.news>a.title {
	color: #b0b0b0;
	font-size: 12px;
	display: block;
	float: left;
}
#top .top-center>div.right>ul>li:hover>a.title {
	color: white;
}
#top .top-center>div.right>div.shopping {
	width: 120px;
	height: 40px;
	float: left;
	background: #424242;
	position: relative;
}
#top .top-center>div.right>div.shopping>a.join {
	position: absolute;
	left: 0px;
	top: 0px;
	display: block;
	width: 120px;
	height: 40px;
	background: #424242;
	z-index: 25;
}
#top .top-center>div.right>div.shopping>a.join>i.icon-shopping {
	color: #b0b0b0;
	font-size: 22px;
	float: left;
	padding-left: 16px;
}
#top .top-center>div.right>div.shopping>a.join>span.title {
	color: #b0b0b0;
	font-size: 12px;
	float: left;
	padding-left: 4px;
}
#top .top-center>div.right>div.shopping>a.join>span.tag {
	color: #b0b0b0;
	font-size: 12px;
	float: left;
	padding-left: 4px;
}
#top .top-center>div.right>div.shopping>ul.submenu {
	position: absolute;
	right: 0px;
	top: 40px;
	width: 316px;
	height: 0px;
	box-shadow: rgba(0,0,0,0.2) 0px 0px 8px;
	background: white;
	z-index: 10;
	opacity: 0;
	transition: all 0.4s;
}
#top .top-center>div.right>div.shopping>ul.submenu>li {
	position: absolute;
	left:0px;
	top: 50%;
	text-align: center;
	margin: 0px auto;
	font-size: 12px;
	transform: translate(50%,-50%);
	color: rgba(0,0,0,0.7);
}
#top .top-center>div.right>div.shopping:hover>a.join {
	background: white;
	height: 41px;
}
#top .top-center>div.right>div.shopping:hover>a.join>i.icon-shopping {
	color: #ff6700;
}
#top .top-center>div.right>div.shopping:hover>a.join>span.title {
	color: #ff6700;
}
#top .top-center>div.right>div.shopping:hover>a.join>span.tag {
	color: #FF6700;
}
#top .top-center>div.right>div.shopping:hover>ul.submenu {
	height: 100px;
	opacity: 1;
}
/*右边区别结束*/
/*网站顶部结束*/
/*搜索区域开始*/
#search {
	width: 1226px;
	height: 100px;
	margin: 0px auto;
	position: relative;
}
/*网站logo开始*/
#search .logo {
	width: 235px;
	height: 100px;
	line-height: 100px;
	float: left;
}
#search .logo a {
	display: block;
	width: 55px;
	background: url(../img/logo.jpg) no-repeat center center;
	text-indent: -999px;
}
/*网站logo结束*/
/*二级菜单开始*/
#search ul.menu {
	/*position: absolute;*/
	height: 100px;
	width: 670px;
	float: left;
	position: relative;
	/*top: 0;*/
	/*left: 235px;*/
}
#search ul.menu>li{
	float: left;
	height: 100px;
}
#search ul.menu>li>p {
	height: 100px;
	line-height: 100px;
	padding: 0px 10px;
}
#search ul.menu>li>p>a.title {
	font-size: 16px;
	color: #333333;
}
#search ul.menu>li>.submenu {
	position: absolute;
	left: -2122px;
	top: 100px;
	width: 5000px;
	height: 229px;
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	display: none;
	background: white;
	z-index: 99;
}
#search ul.menu>li>.submenu ul {
	width: 1226px;
	height: 229px;
	margin: 0px auto;
}
#search ul.menu>li>.submenu>ul>li {
	width: 204px;
	height: 229px;
	float: left;
	position: relative;
}
#search ul.menu>li>.submenu>ul>li>p.tag {
	border: 1px solid #FF6700;
	line-height: 20px;
	padding: 0px 20px;
	float: left;
	position: absolute;
	left: 50%;
	top: -1px;
	color: #FF6700;
	font-size: 12px;
	text-align: center;
	transform: translateX(-50%);
}
#search ul.menu>li>.submenu>ul>li>a.pic {
	display: block;
	width: 160px;
	height: 110px;
	margin: 0px auto;
	margin-top: 35px;
}
#search ul.menu>li>.submenu>ul>li>a.pic img {
	width: 100%;
	height: 100%;
}
#search ul.menu>li>.submenu>ul>li>a.title {
	display: block;
	margin-top: 16px;
	line-height: 20px;
	font-size: 12px;
	color: #333333;
	text-align: center;
}
#search ul.menu>li>.submenu>ul>li>p.price {
	color: #FF6700;
	line-height: 20px;
	margin-top: 1px;
	font-size: 12px;
	text-align: center;
}
#search ul.menu>li>.submenu>ul>li>p.text {
	color: #333333;
}

#search ul.menu>li>.submenu>ul>li>div {
	position: absolute;
	top: 35px;
	right: 0px;
	border-right: 1px solid #e0e0e0;
	height: 100px;
	
}
#search ul.menu>li:hover>p>a.title {
	color: #ff6700;
}
#search ul.menu>li:hover>.submenu {
	display: block;
}	
/*二级菜单结束*/
/*搜索框*/
#search .searchBar {
	width: 296px;
	height: 100px;
	float: right;
	position: relative;
}
#search .searchBar>div {
	position: absolute;
	left: 0px;
	top: 25px;
	background: white;
	border: 1px solid #E0E0E0;
	width: 294px;
	height: 48px;
}
#search .searchBar>div>input.keywords {
	width: 243px;
	border-right: 1px solid #e0e0e0;
	height: 48px;
	float: left;
}
#search .searchBar>div>a.tag {
	width: 50px;
	height: 48px;
	background: white;
	display: block;
	float: right;
	position: relative;
}
#search .searchBar>div>a.tag>.icongals {
	position: absolute;
	left: 50%;
	top: 50%;
	color: #616161;
	transform: translate(-50%,-50%);
	font-size: 22px;
}
#search .searchBar>div>ul.submenu {
	position: absolute;
	left: 0px;
	top: 48px;
	width: 243px;
	height: 300px;
	background: white;
	border: 1px solid red;
	display: none;
	z-index: 99;
}
#search .searchBar>div>ul.submenu>li{
	padding: 0px 15px;
	line-height: 27px;
}
#search .searchBar>div>ul.submenu>li>a.title {
	float: left;
	color: rgba(24,24,24,08);
	font-size: 12px;
}
#search .searchBar>div>ul.submenu>li>a.amount {
	float: right;
	color: #b0b0b0;
	font-size: 12px;
}
#search .searchBar>div:hover {
	border: 1px solid red;
}
#search .searchBar>div:hover>input.keywords {
	border-right: 1px solid red;
}
#search .searchBar>div:hover>ul.submenu {
	display: block;
}
#search .searchBar>div:hover>a.tag {
	background: #ff6700;
}
#search .searchBar>div:hover>a.tag>.icongals {
	color: white;
}
#search .searchBar>div>ul.submenu>li:hover {
	background: rgba(192,190,190,0.2);
}
/*搜索框*/
/*搜索区域结束*/
/*轮播区域开始*/
#banner {
	width: 1226px;
	height: 460px;
	margin: 0px auto;
	position: relative;
	margin-bottom: 14px;
}
/*左边菜单*/
#banner .leftmenu {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 235px;
	height: 460px;
	background: rgba(0,0,0,0.6);
	z-index: 10;
}
#banner .leftmenu>ul {
	padding-top: 20px;
}
#banner .leftmenu>ul>li {
	line-height: 40px;
}
#banner .leftmenu>ul>li>a.title {
	display: block;
	padding: 0px 22px;
	display: block;
	color: white;
}
#banner .leftmenu>ul>li>a.title>span.tag {
	padding-left: 6px;
	float: left;
	font-size: 14px;
}
#banner .leftmenu>ul>li>a.title>i.arrow-right {
	display: block;
	float: right;
	color: #b3b8b8;
	font-size: 18px;
	cursor: pointer;
}

#banner .leftmenu>ul>li:hover {
	background: #FF6700;
}
/*左边菜单*/
/*轮播图开始*/
#banner .banner-box {
	width: 1226px;
	height: 460px;
	position: relative;
	overflow: hidden;
}

#banner .banner-box>a.pic {
	position: absolute;
	top: 0px;
	left: 0px;
	display: block;
	width: 1226px;
	height: 460px;
	margin: 0px auto;
	display: none;
}
#banner .banner-box>a.pic>img {
	width: 100%;
	height: 100%;
}
/*轮播图左边箭头开始*/
#banner .banner-box>.arrow-left {
	position: absolute;
	left: 235px;
	top: 215px;
	width: 40px;
	height: 70px;
}
#banner .banner-box>.arrow-left>i.icon-arrow {
	text-align: center;
	line-height: 70px;
	color: #cfcfcf;
	font-size: 34px;
}
/*轮播图左边箭头结束*/
/*轮播图右边箭头开始*/
#banner .banner-box>.arrow-right {
	position: absolute;
	right: 0px;
	top: 215px;
	width: 40px;
	height: 70px;
}
#banner .banner-box>.arrow-right>i.icon-arrow {
	text-align: center;
	line-height: 70px;
	color:#cfcfcf;
	font-size: 34px;
}
#banner .banner-box>.arrow-right:hover {
	background: rgba(0,0,0,0.6);
}
#banner .banner-box>.arrow-left:hover {
	background: rgba(0,0,0,0.6);
}
#banner .banner-box>.arrow-right:hover>i.icon-arrow {
	color: white;
}
#banner .banner-box>.arrow-left:hover>i.icon-arrow {
	color: white;
}
/*轮播图右边的小圆点区域*/
#banner .banner-box>ul.circle {
	position: absolute;
	right: 25px;
	bottom: 25px;
	height: 20px;
}
#banner .banner-box>ul.circle>li {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin-right: 10px;
	border: 1px solid #afafaf;
	background: #8d8d8d;
	float: left;
}
/*轮播图右边的小圆点区域*/
/*轮播图右边箭头结束*/
/*轮播图结束*/
/*轮播区域结束*/
/*产品热点区域*/
#hot {
	width: 1226px;
	height: 170px;
	margin: 0px auto;
	margin-bottom: 21px;
}
/*左边区域*/
#hot .left {
	width: 235px;
	height: 170px;
	background: #5f5750;
	float: left;
}
#hot .left>ul>li {
	width: 78px;
	float: left;	
	height: 82px;
	position: relative;
}
#hot .left>ul>li>a.info {
	text-align: center;
	display: block;
	color: white;
	
}
#hot .left>ul>li>a.info>i {
	margin-top: 18px;
	display: block;
	font-size: 26px;
	line-height: 30px;
	color: white;
	opacity: 0.7;
	filter:alpha(opacity=70);
	
}
#hot .left>ul>li>a.info>span.title {
	display: block;
	margin-top: 3px;
	line-height: 20px;
	font-size: 12px;
	color: white;
	opacity: 0.7;
	filter:alpha(opacity=70);
	
}
#hot .left>ul>li>div.r {
	border-right: 1px solid #665e57;
	position: absolute;
	right: 0px;
	top: 9px;
	height: 70px;
}
#hot .left>ul>li>div.b {
	
	position: absolute;
	left: 9px;
	bottom: 0px;
	width: 64px;
	border-bottom: 1px solid #665e57;

}
#hot .left>ul>li>a.info:hover>i {
	color: white;
	opacity: 1;
	filter:alpha(opacity=100);
}
#hot .left>ul>li>a.info:hover>span.title {
	color: white;
	opacity: 1;
	filter:alpha(opacity=100);
}
/*左边区域*/
#hot .right {
	height: 170px;
	float: right;
}
#hot .right>a.pic {
	width: 316px;
	height: 170px;
	margin: 0px auto;
	display: block;
	float: left;
	margin-left: 14px;
}
#hot .right>a.pic>img {
	width: 100%;
	height: 100%;
}
/*产品热点区域*/
/*产品的倒计时区域*/
#activ {
	width: 1226px;
	height: 403px;
	margin: 0px auto;
	margin-bottom: 42px;
}
/*闪购区域*/
#activ .top>h3 {
	font-size: 22px;
	line-height: 60px;
	color: rgba(0,0,0,0.6);
	font-family: "宋体";
}
/*闪购区域*/
/*产品活动的区域*/
#activ ul.list {
	width: 1226px;
	height: 340px;
}
#activ ul.list>li {
	width: 234px;
	height: 339px;
	float: left;
	margin-right: 14px;
	background: #f1eded;
}
#activ ul.list>li.border01 {
	border-top: 1px solid #e53935;
}
#activ ul.list>li.border02 {
	border-top: 1px solid #ffac13;
	background: #fafafa;
}
#activ ul.list>li.border03 {
	border-top: 1px solid #83c44e;
	background: #fafafa;
}
#activ ul.list>li.border04 {
	border-top: 1px solid #2196f3;
	background: #fafafa;
}
#activ ul.list>li.border05 {
	border-top: 1px solid #e53935;
	margin-right: 0px;
	background: #fafafa;
}
#activ ul.list>li>dl.content>dt {
	text-align: center;
	margin: 0px auto;
	line-height: 20px;
	font-size: 19px;
	line-height: 30px;
	margin-top: 52px;
}

#activ ul.list>li>dl.content>dd>img {
	display: block;
	margin: 0px auto;
	margin-top: 27px;
}
#activ ul.list>li>dl.content>dd>span.title {
	display: block;
	text-align: center;
	margin-top: 27px;
	font-size: 14px;
	line-height: 30px;
	color: #706f6f;
}
#activ ul.list>li>dl.content>dd>div.time {
	width: 168px;
	height: 46px;
	margin: 0px auto;
	margin-top: 25px;
	position: relative;
}
#activ ul.list>li>dl.content>dd>div.time>div.box {
	width: 46px;
	height: 46px;
	text-align: center;
	line-height: 46px;
	float: left;
	background: #605751;
	color: white;
	margin-right: 15px;
	
}
#activ ul.list>li>dl.content>dd>div.time>div.colun {
	
	font-size: 16px;
	color: red;
}
#activ ul.list>li>a.pic {
	display: block;
	width: 106px;
	height: 134px;
	margin: 0px auto;
	margin-top: 50px;
}
#activ ul.list>li>a.pic>img {
	width: 100%;
	height: 100%;
}
#activ ul.list>li>a.title {
	display: block;
	line-height: 20px;
	margin-top: 40px;
	color: #202020;
	font-size: 12px;
	text-align: center;
} 
#activ ul.list>li>a.tag {
	display: block;
	line-height: 20px;
	font-size: 12px;
	text-align: center;
	color: #adadad;
	margin-top: 3px;
}
#activ ul.list>li>a.price {
	display: block;
	margin: 0px auto;
	margin-top: 10px;
	text-align: center;
}
#activ ul.list>li>a.price>span.news {
	color: #fa6509;
	font-size: 12px;
	line-height: 20px;
}
#activ ul.list>li>a.price>span.old {
	color: #adadad;
	font-size: 12px;
	line-height: 20px;
	text-decoration: line-through;
}
/*产品活动的区域*/
/*产品的倒计时区域*/
/*产品的展示banner区域开始*/
#box-banner {
	width: 1226px;
	height: 120px;
	margin: 0px auto;
	margin-bottom: 42px;
}
#box-banner a img {
	width: 100%;
	height: 100%;
}
/*产品的展示banner区域开始*/
/*产品全部类别的区域*/
#box-product {
	width: 100%;
	height: 6812px;
	background: #f5f5f5;
}
/*产品手机开始*/
/*产品手机标题区域*/
#box-product .top-title {
	width: 1226px;
	height: 118px;
	margin: 0px auto;
}
#box-product .top-title h3 {
	float: left;
	line-height: 40px;
	margin-top: 69px;
	color: #333333;
	font-size: 22px;
	font-weight: normal;
}
#box-product .top-title a.title {
	display: block;
	float: right;
	line-height: 40px;
	margin-top: 69px;
	color: #424242;
	font-size: 18px;
}
#box-product .top-title a.title>span.title {
	float: left;
	margin-right: 8px;
}
#box-product .top-title a.title>span.arrow {
	margin-top: 8px;
	display: block;
	float: left;
	width: 20px;
	height: 20px;
	background: #b0b0b0;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}
#box-product .top-title a.title>span.arrow i {
	display: block;
	line-height: 20px;
	text-align: center;
	color: white;
	font-size: 20px;
}
/*产品手机区域标题*/
/*产品手机的展示区域*/
#box-product .content {
	width: 1226px;
	height: 614px;
	margin: 0px auto;
	margin-bottom: 42px;
	position: relative;
}
#box-product .content .left {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 234px;
	height: 614px;
	margin: 0px auto;
	float: left;
	transition: all 0.8s;
	/*box-shadow: 0px 0px 0px rgba(0,0,0,0.3);*/
}
#box-product .content .left.box-shaw{
	box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}
/*#box-product .content .left:hover {
	box-shadow: 0px 0px 20px rgba(200,200,200,0.3);
}*/
#box-product .content .right {
	width: 992px;
	height: 614px;
	float: right;
	position: relative;
}

#box-product .content .right ul li {
	/*position: absolute;
	top: 0px;*/
	position: relative;
	left: 0px;
	top: 0px;
	float: left;
	width: 234px;
	height: 300px;
	margin-left: 14px;
	margin-bottom: 14px;
	background: white;
	/*transition: all 0.8s;
	box-shadow: 0px 0px 0px rgba(0,0,0,0.3);*/
	
}
#box-product .content .right ul li.yin {
	box-shadow: -3px -3px 10px rgba(0,0,0,0.2);
}
#box-product .content .right ul li:hover>div.bottom {
	display: block;
	top: 223px;
}
/*#box-product .content .right ul li:hover {
	box-shadow: -3px -3px  10px rgba(200,200,200,0.3);
	
}*/
#box-product .content .right ul li>span.tag {
	position: absolute;
	top: 0px;
	left: 50%;
	transform: translateX(-50%);
	padding: 0px 6px;
	float: left;
	display: block;
	/*margin: 0px auto;*/
	background: #e53935;
	color: white;
}
#box-product .content .right ul li>a.pic {
	display: block;
	width: 160px;
	height: 160px;
	margin: 0px auto;
	margin-top: 25px;
}
#box-product .content .right ul li>a.title {
	display: block;
	line-height: 20px;
	text-align: center;
	font-size: 12px;
	margin-top: 22px;
	color: #333333;
}
#box-product .content .right ul li>span.title {
	display: block;
	line-height: 20px;
	margin-top: 2px;
	font-size: 12px;
	color: #b0b0b0;
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
#box-product .content .right ul li>p.price {
	text-align: center;
	margin: 0px auto;
	margin-top: 10px;
	line-height: 20px;
}
#box-product .content .right ul li>p.price>span.news-price {
	color: red;
	font-size: 12px;
}
#box-product .content .right ul li>p.price>span.old-price {
	color: #b0b0b0;
	text-decoration: line-through;
	font-size: 12px;
}
/*#box-product .content .right ul li>p.price>span.news-price {
	color: red;
	
}*/
#box-product .content .right ul li>a.pic>img {
	width: 100%;
	height: 100%;
}
#box-product .content .left img {
	width: 100%;
	height: 100%;
}

/*产品手机的展示区域*/
/*产品手机结束*/
/*产品家电区域*/
#house {
	width: 1226px;
	height: 702px;
	margin: 0px auto;
	margin-top: 34px;
}
/*产品家电标题区域*/
#house .title {
	
	position: relative;
	height: 46px;
}
#house .title>h3 {
	line-height: 30px;
	font-size: 22px;
	color: #333333;
	float: left;
}
#house ul {
	float: right;
	
}
#house .title ul li {
	float: left;
	margin: 0px 16px;
	font-size: 14px;
	color: #424242;
	line-height: 30px;
	
}
/*#house .title ul li:hover {
	border-bottom: 2px solid red;
}*/
#house .title ul li.border {
	border-bottom: 2px solid red;
}
#house .title ul li a {
	color: #424242;
}
/*产品家电标题区域*/
/*家电产品展示区域*/
#house .content {
	width: 1226px;
	height: 614px;	
}
#house .content .content_left {
	width: 234px;
	height: 614px;
	float: left;
}
#house .content .content_left a{
	width: 234px;
	height: 300px;
	display: block;
	margin-top: 0px;
}
#house .content .content_left a.box-shaw {
	box-shadow: -3px -3px 10px rgba(128,128,128,0.3);
}
#house .content .content_right {
	width: 992px;
	height: 614px;
	display: none;
	float: left;
}
/*家电产品展示区域*/
#house .content .content_right ul li {
	float: left;
	margin-left: 14px;
	width: 234px;
	height: 300px;
	background: white;
	box-shadow: 3px 0px 0px rgba(128,128,128,0.3)
	/*transition: all 2s;*/
	margin-bottom: 14px;
	position: relative;
}

#house .content .content_right ul li>span.tag {
	top: 0px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	display: block;
	padding: 0px 16px;
	background: #e53935;
	color: white;
	font-size: 12px;
	height: 20px;
	line-height: 20px;
	z-index: 67;
}
/*#house .content .content_right ul li:hover {
	box-shadow: -3px -3px 20px rgba(0,0,0,0.3);
}*/
#house .content .content_right ul li>a.pic {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	display: block;
	width: 150px;
	height: 150px;
	top: 8px;
}
#house .content .content_right ul li a.titles {
	display: block;
	text-align: center;
	margin-top: 200px;
	color: #333333;
	padding: 0px 12px;
	/*line-height: 20px;*/
	font-size: 14px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
#house .content .content_right ul li span.titles {
	display: block;
	text-align: center;
	color: #b0b0b0;
	/*line-height: 20px;*/
	margin-top: 1px;
	font-size: 12px;
}
#house .content .content_right ul li p {
	margin: 0px auto;
	line-height: 20px;
	text-align: center;
}

#house .content .content_right ul li>ul>li.top {
	width: 234px;
	height: 144px;
	background: white;
	margin-bottom: 14px;
	transition: all 2s;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
	position: relative;
}
#house .content .content_right ul li>ul>li.top>a.pics {
	display: block;
	position: absolute;
	width: 80px;
	height:80px;
	right: 20px;
	top: 34px;
	
}
#house .content .content_right ul li>ul>li.top>a.pics img {
	width: 100%;
	height: 100%;
	border: none;
}
#house .content .content_right ul li>ul>li.bottom {
	width: 234px;
	height: 144px;
	background: white;
	/*transition: all 2s;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.2);*/
}

#house .content .content_right ul li>ul>li.top>a.tams {
	display: block;
	font-size: 16px;
	color:#333333;
	margin-left: 30px;
	width: 92px;
	margin-top: 36px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 30px;
	
}
#house .content .content_right ul li>ul>li.top>span.tams {
	display: block;
	line-height: 30px;
	margin: 2px 0px 0px 30px;
	font-size: 16px;
	color: #ff6700;
}
#house .content .content_right ul li p>span.new_price {
	font-size: 12px;
	color: #ff6700;
}
#house .content .content_right ul li p>span.old_price {
	font-size: 12px;
	color: #b0b0b0;
	text-decoration: line-through;
}
#house .content .content_right ul li a.pic img {
	width: 100%;
	height: 100%;
	border: none;
}
/*产品家电区域*/
/*产品全部类别的区域*/
